{% load static %}
<link rel="stylesheet" href="{% static 'game/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div> 
    <h1>Placar de Líderes</h1>
    {% if pontuacoes %}
        <ol>
        {% for p in pontuacoes %}
            <li>
                <strong>{{ p.nome_jogador }}</strong> - {{ p.pontos }} pontos
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>Nenhuma pontuação registrada ainda.</p>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'game:index' %}" class="btn-voltar">
        &laquo; Voltar ao Jogo
    </a>
</div>